.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  height: 80px;
  border-radius: 8px;
  border: 1px solid black;
  font-family: "PT Mono", "monospace";
  font-size: 22px;
  font-weight: 700;
  line-height: 24.64px;
  margin: auto;
}

.primary-button {
  background-color: white;
  color: black;
}

.secondary-button {
  background-color: black;
  color: white;
}
