.boxshadow {
  box-shadow: 0px 0px 8px 0px #00000040;
}

.bitcoin {
  background-color: #ffae34;
  color: black;
}

.blockchain {
  background-color: #8b58f9;
  color: white;
}

.evilcorp {
  background-color: #f33355;
  color: white;
}

.ninjabank {
  background-color: #222222;
  color: white;
}

.placeholdergray {
  background-color: #d0d0d0;
  color: black;
}
