.bitcoin {
  background-color: #ffae34;
  color: black;
}

.blockchain {
  background-color: #8b58f9;
  color: black;
}

.evilcorp {
  background-color: #f33355;
  color: white;
}

.ninjabank {
  background-color: #222222;
  color: white;
}
